@import "styles/globals/mixins";

.wrap {
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.container {
  border-bottom: 0.25rem solid black;
  border-top: 0.25rem solid black;
  background-color: white;
  position: relative;
  z-index: 2;
}

.link {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  display: block;

  @include focus {
    background-color: $focus;
  }
}
