@import "styles/globals/mixins";

.container {
  @include container;

  @include xsmall-down {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.wrap {
  @include wrap(50rem);

  @include medium-up {
    box-shadow: 0 0 0.5rem $gray-300;
  }
}
